# # # # # # # # # # # # # # # # # # # 
#                                   #
#              .gitignore           #
#        #CleanAllTheFiles:)        #
#                                   #
# # # # # # # # # # # # # # # # # # #

#AKA IF I SEE ONE MORE .DS_STORE

# Logs
logs

# Node Modules
node_modules

# System Files
*.DS_STORE

# Linter 
.eslintrc.json

node_modeules/*

QUp/android/
QUp/ios